
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
	width: 400px;
	height: 50px;
	background-color: black;
	
}

.counter {
	width: 100%;    
	height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
	justify-content:center;	
	background-color: #1c1b1b;
	font-size: 24px;
	font-weight: bold;
	color: grey;
	margin-left: 3px;
	margin-right: 3px;
}

.buttons {
	display: flex;
    align-items: center;
    flex-direction: row;
	justify-content: center;
}

button {
	background: blue;
	color:beige;
	margin-left: 3px;
	margin-right: 3px;
}

.text {
	font-size: 24px;
	font-weight: bold;
	width: 100%;    
	height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
	justify-content: center;
	color: grey;
}
.input {
	width: 100%;    
	height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
	justify-content:center;	
	background-color: white;
	font-size: 24px;
	font-weight: bold;
	color: black;
	margin-left: 3px;
	margin-right: 3px;
}

.countdown {
	width: 130px;    
	height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
	justify-content:center;	
	background-color: #1c1b1b;
	font-size: 24px;
	font-weight: bold;
	color: grey;
	margin-left: 3px;
	margin-right: 3px;
}

.alert {
	position: relative;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
  }